In [11]:
# Import the requests library.
import pandas as pd

In [12]:
# Reading in the zip code csv file that we extracted from the HH Income dataset
zips_data_df = pd.read_csv("data/cleaned_HH_Income_Zips_List.csv", index_col=None,dtype={"Zip_Code":"string"} )
zips_data_df.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
sorted= zips_data_df.sort_values(by = 'Zip_Code')

In [14]:
sorted.head(40)

     Zip_Code
6006    01001
6011    01002
6140    01005
5999    01013
5998    01020
6001    01022
6017    01027
6005    01030
6012    01033
6014    01035
6007    01036
6126    01038
6000    01040
5841    01050
5997    01056
6016    01060
6015    01062
5996    01069
6013    01075
6004    01077
6009    01081
6010    01082
6003    01085
6002    01089
6162    01092
6054    01093
6008    01095
5989    01104
5993    01105
6114    01106
5990    01107
5994    01108
5991    01109
5995    01118
5992    01119
5988    01151
5925    01201
5932    01220
5935    01223
6165    01225

In [15]:
tiny_zips1 = zips_data_df[(zips_data_df["Zip_Code"] < '01081')]

In [19]:
tiny_zips1.to_csv('data/tiny_zips_for_Julie.csv', columns = ["Zip_Code"], header = True)

In [20]:
tiny_zips2 = zips_data_df[(zips_data_df["Zip_Code"] >= '01081') & (zips_data_df["Zip_Code"] <= '01225')]

In [22]:
tiny_zips2.to_csv('data/tiny_zips_for_Melissa.csv', columns = ["Zip_Code"], header = True)

In [46]:
zips_less_than_3k = zips_data_df[(zips_data_df["Zip_Code"] < '3350')]
zips_less_than_3k.count()

Zip_Code    4899
dtype: int64

In [49]:
zips_3_to_6k = zips_data_df[(zips_data_df["Zip_Code"] >= '3350') & (zips_data_df["Zip_Code"] < '6500')]
zips_3_to_6k.count()

Zip_Code    4902
dtype: int64

In [50]:
zips_6k_above = zips_data_df[(zips_data_df["Zip_Code"] >= '6500') ]
zips_6k_above.count()

Zip_Code    4863
dtype: int64

In [54]:
zips_less_than_3k.to_csv('data/zips_less_than_3k.csv', columns = ["Zip_Code"], header = True)

In [57]:
zips_3_to_6k.to_csv('data/zips_3_to_6k.csv', columns = ["Zip_Code"], header = True)

In [56]:
zips_6k_above.to_csv('data/zips_6k_above.csv', columns = ["Zip_Code"], header = True)