In [1]:
# Import the requests library.
import requests as r
import pandas as pd
import numpy as np
from itertools import product
# Import the API key.
from config import YELP_API_key


# Define the API key, Endpoint, and Header
key = YELP_API_key
url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization':'bearer %s' % key}
## Reading in the zip code csv file that we extracted from the HH Income dataset
zips_data_df = pd.read_csv('tiny_zips_for_Julie.csv')

In [2]:
# Include 2 addresses and 500 results
addresses = zips_data_df
offset = np.arange(0,100,50)
# Create list of tuples of combinations between addresses and offset
tuples = list(product(addresses, offset))

In [3]:
# Empty list
list = []
# Future DF columns
cols = ['Name', 'Type', 'Address', 'Zip Code']
# for loop

In [4]:
for index, row in  addresses.iterrows():
    current_zip = row['Zip_Code']
    search_parameters = {
        'location': current_zip,
        'term': 'fast food',
        'radius': 5000,
        'limit': 50,
        'offset': index}
    resp = r.get(url, headers=headers, params=search_parameters)
    raw_data = resp.json()
    print(current_zip)
    try:
         for business in raw_data['businesses']:
                name = business['name'],
                food_type = business['categories'][0]['alias']
                address = business['location']['address1'],
                zip_code = business['location']['zip_code'],
                list.append([name, food_type, address, zip_code])
    except KeyError as e:
        print (f"Caught an error at line {e}")
        pass
df = pd.DataFrame.from_records(list, index='Name', columns=cols)
#print(f'Total Records: {len(df)}'))
df.head()

1050
Caught an error at line 'businesses'
1069
Caught an error at line 'businesses'
1056
Caught an error at line 'businesses'
1020
Caught an error at line 'businesses'
1013
Caught an error at line 'businesses'
1040
Caught an error at line 'businesses'
1022
Caught an error at line 'businesses'
1077
Caught an error at line 'businesses'
1030
1001
Caught an error at line 'businesses'
1036
Caught an error at line 'businesses'
1002
Caught an error at line 'businesses'
1033
Caught an error at line 'businesses'
1075
Caught an error at line 'businesses'
1035
Caught an error at line 'businesses'
1062
Caught an error at line 'businesses'
1060
Caught an error at line 'businesses'
1027
Caught an error at line 'businesses'
1038
Caught an error at line 'businesses'
1005
Caught an error at line 'businesses'

                 Type                          Address Zip Code
Name
(Quick,)      hotdogs                (Rue Neuve, 114,)  (1000,)
(Fat Boy's,)  hotdogs         (Ave de cortenbergh 36,)  (1000,)
(O'Tacos,)      halal      (Boulevard Adolphe Max 52,)  (1000,)
(KFC,)        hotdogs             (Rue du Progrès 76,)  (1030,)
(Mykonos,)      greek  (Rue du Marché aux Fromages 8,)  (1000,)

In [5]:
#df.sort_values(by='Zip Code')
#df['Zip Code'].nunique()
for col in df:
  print(df[col].unique())

['hotdogs' 'halal' 'greek' 'kebab' 'localflavor' 'turkish' 'friterie'
 'indpak' 'tea' 'belgian' 'mexican' 'sandwiches' 'chickenshop'
 'brasseries' 'salad' 'burgers' 'modern_european' 'bagels' 'steak']
[('Rue Neuve, 114',) ('Ave de cortenbergh 36',)
 ('Boulevard Adolphe Max 52',) ('Rue du Progrès 76',)
 ('Rue du Marché aux Fromages 8',) ('24 rue Saint-Michel',)
 ('Place Saint-Josse',) ('Rue Picard 82',) ('Rue de Malines 44',)
 ('Ave Félix Marchal 7',) ('Rue de la Madeleine 1',)
 ('Boulevard Anspach 50',) ('Boulevard Du Jardin Botanique 8',)
 ('46 rue de la Fourche',) ('Rue Rogier 150',) ('Place Eugène Flagey',)
 ('Place Jourdan 1',) ('Rue Américaine 91',) ('Boulevard Lambermont 1',)
 ('Chaussee de Louvain 571',) ('Boulevard Anspach 72',)
 ('Rue de Midi 92',) ('Rue Neuve 124',) ('Rue Froissartstr. 69',)
 ('Boulevard Anspach 21',) ('Rue du Marché aux Fromages 11',)
 ('Boulevard Maurice Lemonnier 216',) ('Chaussée de Louvain 480',)
 ('Rue Watteeu 31',) ('Rue du Général Eenens 19',)
 ('Rue du Marché aux Herbes 93',) ('Romeinsesteenweg 199',)
 ("Ave de la Toison d'Or 6",) ('Rue de la Loi 19',) ('Rue du Trône 39',)
 ("Chaussée d'Anvers 84",) ('Avenue Georges Henri 358',)
 ('Rue Froissart 137-139',) ("Avenue de la Toison d'Or 4",)
 ('Chaussée de Louvain 36',) ('Place Saint-Antoine, 37',)
 ('Rue du Marché au Charbon 100',) ("Rue d'Arlon 2",)
 ('Place Sainte-Catherine 4',) ('Rue du Noyer 89',)
 ('21 avenue du Boulevard',) ('Quai à la Houille 6',)
 ('Place de la Bourse 2',) ('Rue de Heembeek 272',)
 ('Chaussée de Charleroi 66',)]
[('1000',) ('1030',) ('1210',) ('1080',) ('1050',) ('1040',) ('1800',)
 ('1200',) ('1120',) ('1060',)]

In [6]:
###for index, row in  addresses.iterrows():
    #current_zip = row['Zip_Code']
   # search_parameters = {
  #      'location': current_zip,
 #       'term': 'fast food',
#        'radius': 8000,
#        'limit': 50,
#        'offset': index}
#    resp = r.get(url, headers=headers, params=search_parameters)
#    raw_data = resp.json()
#    try:
#    for business in raw_data['businesses']:
#        name = business['name'],
#        food_type = business['categories'][0]['alias']
#        address = business['location']['address1'],
#        zip_code = business['location']['zip_code'],
#        list.append([name, food_type, address, zip_code])
#    df = pd.DataFrame.from_records(list, index='Name', columns=cols)
#print(f'Total Records: {len(df)}')
###df.head()

In [7]:
current_zip

1005

In [8]:
#df.head()
#display(df.info)
#display(df.describe)