In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data\Postgres\Joined_Tables_MN.csv")

In [3]:
# removing null values from the HH income zip code column that appeared after joining the two tables

df=df.dropna(axis=0, subset=['zip_code'])

In [10]:
df

,res_name,res_type,address,zip_codes,state_ab,city,zip_code,latitude,longitude,median,stdev
0,Bangin Buns,hotdogs,1457 E Florence Ave,90001.0,CA,Los Angeles,90001.0,33.972986,-118.262893,30036.0,30034.0
1,The Buffalo Spot - Huntington Park,hotdogs,5918 Pacific Blvd,90255.0,CA,Huntington Park,90255.0,33.983206,-118.220872,27107.0,25779.0
2,In-N-Out Burger,burgers,6000 Pacific Blvd,90255.0,CA,Huntington Park,90255.0,33.983206,-118.220872,27107.0,25779.0
3,Rally's,burgers,7207 South Avalon Boulevard,90003.0,CA,Los Angeles,90003.0,33.966092,-118.275263,34678.0,22619.0
4,Johns Drive-In Hamburgers,burgers,6625 E Santa Fe Ave,90255.0,CA,Huntington Park,90255.0,33.983206,-118.220872,27107.0,25779.0
...,...,...,...,...,...,...,...,...,...,...,...
13243,Subway,sandwiches,1235B Clear Lake City Blvd,77062.0,TX,Houston,77062.0,29.566283,-95.121626,53561.0,54095.0
13244,Savannah Cafe & Bakery,sandwiches,14020 Galveston Rd,77598.0,TX,Webster,77598.0,29.525784,-95.112930,32372.0,31683.0
13245,Subway,sandwiches,3141 FM 528,77546.0,TX,Friendswood,77546.0,29.510081,-95.196134,76498.0,66668.0
13246,La Brisa Mexican Grill,mexican,501 N Wesley Dr,77573.0,TX,League City,77573.0,29.454342,-95.145696,91692.0,49971.0
13247,Pizza Hut,pizza,2402 Bay Area Blvd,77058.0,TX,Houston,77058.0,29.544767,-95.087482,300000.0,67186.0

In [4]:
df.drop(columns=['res_name', 'address', 'zip_codes', 'city', 'latitude', 'longitude', 'stdev'])

         res_type state_ab  zip_code    median
0         hotdogs       CA   90001.0   30036.0
1         hotdogs       CA   90255.0   27107.0
2         burgers       CA   90255.0   27107.0
3         burgers       CA   90003.0   34678.0
4         burgers       CA   90255.0   27107.0
...           ...      ...       ...       ...
13243  sandwiches       TX   77062.0   53561.0
13244  sandwiches       TX   77598.0   32372.0
13245  sandwiches       TX   77546.0   76498.0
13246     mexican       TX   77573.0   91692.0
13247       pizza       TX   77058.0  300000.0

[12084 rows x 4 columns]

In [5]:
# Displaying all food type results for cleaning

pd.set_option('display.max_rows', None)  
df['res_type'].value_counts()

hotdogs                 2299
mexican                 1717
burgers                 1324
sandwiches              1188
pizza                    876
tradamerican             545
chicken_wings            394
breakfast_brunch         259
chinese                  198
delis                    185
salad                    176
seafood                  159
icecream                 150
tex-mex                  132
greek                    116
italian                  102
chickenshop              100
bbq                       97
mediterranean             93
diners                    93
coffee                    91
hotdog                    88
newamerican               86
bars                      83
juicebars                 83
tacos                     81
foodtrucks                65
sportsbars                62
vietnamese                60
japanese                  58
bakeries                  48
steak                     47
korean                    43
desserts                  41
servicestations           38
catering                  38
latin                     38
bagels                    36
convenience               36
southern                  35
grocery                   30
halal                     27
mideastern                26
pretzels                  25
cafes                     25
asianfusion               24
pubs                      22
thai                      21
fooddeliveryservices      20
cheesesteaks              19
noodles                   18
vegan                     17
kosher                    16
sushi                     15
peruvian                  14
indpak                    14
cajun                     14
donuts                    14
comfortfood               13
foodstands                13
cocktailbars              12
vegetarian                12
filipino                  11
caribbean                 10
soulfood                  10
salvadoran                10
breweries                  9
cuban                      9
bubbletea                  9
falafel                    8
french                     8
spanish                    8
hawaiian                   7
venezuelan                 7
meats                      7
beerbar                    7
beer_and_wine              6
venues                     6
portuguese                 6
buffets                    6
german                     6
gastropubs                 6
wine_bars                  5
lounges                    4
dominican                  4
streetvendors              4
poke                       4
gluten_free                4
waffles                    4
musicvenues                3
movietheaters              3
creperies                  3
southafrican               3
moroccan                   3
pakistani                  3
gourmet                    3
irish                      3
afghani                    3
beergardens                3
markets                    3
empanadas                  3
divebars                   3
colombian                  3
brazilian                  2
ramen                      2
brewpubs                   2
food_court                 2
smokehouse                 2
gaybars                    2
lebanese                   2
persian                    2
japacurry                  2
dimsum                     2
butcher                    2
tea                        2
casinos                    2
fishnchips                 2
irish_pubs                 2
armenian                   2
haitian                    2
arcades                    2
polish                     2
pastashops                 1
african                    1
cheese                     1
puertorican                1
tapas                      1
uzbek                      1
cambodian                  1
eatertainment              1
gelato                     1
teppanyaki                 1
beverage_stores            1
soup                       1
internetcafe               1
musicvideo                 1
healthmarkets              1
turkish                    1
burmese                    1
kebab                      1
social_clubs               1
waterpurification          1
bangladeshi                1
carwash                    1
wraps                      1
farmersmarket              1
british                    1
cantonese                  1
karaoke                    1
vitaminssupplements        1
seafoodmarkets             1
mongolian                  1
poutineries                1
whiskeybars                1
drugstores                 1
poolhalls                  1
hookah_bars                1
cafeteria                  1
tapasmallplates            1
russian                    1
coffeeroasteries           1
acaibowls                  1
shavedice                  1
bowling                    1
argentine                  1
personalchefs              1
intlgrocery                1
ethiopian                  1
taiwanese                  1
swimmingpools              1
Name: res_type, dtype: int64

In [6]:
# Grouping non-restaurant results
df['res_type'] =df['res_type'].replace({"servicestations": "non_restaurant", "convenience": "non_restaurant", "catering": "non_restaurant",
            "fooddeliveryservices": "non_restaurant", "venues": "non_restaurant", "grocery": "non_restaurant", "musicvenues": "non_restaurant", 
            "services": "non_restaurant", "markets": "non_restaurant", "beverage_stores": "non_restaurant", "casinos": "non_restaurant",
                                       "butcher": "non_restaurant", "movietheaters":  "non_restaurant"})

In [7]:
# Grouping American Latin food
df['res_type'] =df['res_type'].replace({"peruvian": "latin", "salvadoran": "latin", "cuban": "latin", "venezuelan": "latin",
                    "dominican": "latin", "colombian": "latin", "puertorican": "latin", "empanadas": "latin" })

In [8]:
# Grouping alcohol-centric results
df['res_type'] =df['res_type'].replace({"bars": "bars/alcohol", "sportsbars": "bars/alcohol", "pubs": "bars/alcohol", 
                "cocktailbars": "bars/alcohol","gastropubs": "bars/alcohol", "divebars": "bars/alcohol","beer_and_wine": "bars/alcohol", 
                "lounges": "bars/alcohol", "beerbar": "bars/alcohol", "wine_bars": "bars/alcohol", "breweries": "bars/alcohol", 
                "gaybars": "bars/alcohol", "irish_pubs": "bars/alcohol", "brewpubs": "bars/alcohol","beergardens": "bars/alcohol" })

In [9]:
# Grouping middle eastern results
df['res_type'] =df['res_type'].replace({"halal": 'mideastern', "falafel": "mideastern", "afghani": "mideastern", "moroccan": "mideastern",
                    "lebanese": "mideastern", "persian": "mideastern", "turkish": 'mideastern', "kebab": "mideastern"})

In [13]:
# Grouping similar foods
df['res_type'] =df['res_type'].replace({"newamerican": "american", "tradamerican": "american", "desserts": "bakeries", "donuts": "bakeries", 
                "bagels": "bakeries", "sandwiches": 'delis/diners', "delis": 'delis/diners', 'diners':'delis/diners', "hotdog": 'hotdogs',
                "chicken_wings": "wings/chicken", "chickenshop": "wings/chicken", "waffles": "breakfast_brunch",
                "mexican":"mex/tex-mex", "tex-mex":"mex/tex-mex", "tacos": "mex/tex-mex" })

In [11]:
# Grouping diet needs
df['res_type'] =df['res_type'].replace({'gluten-free': "special diet", "vegan": "special diet", 'vegetarian': "special diet"})

In [14]:
df['res_type'].value_counts()

hotdogs                2387
mex/tex-mex            1930
delis/diners           1466
burgers                1324
pizza                   876
american                631
wings/chicken           494
breakfast_brunch        263
bars/alcohol            228
chinese                 198
non_restaurant          182
salad                   176
seafood                 159
icecream                150
bakeries                139
greek                   116
italian                 102
bbq                      97
mediterranean            93
coffee                   91
latin                    89
juicebars                83
mideastern               73
foodtrucks               65
vietnamese               60
japanese                 58
steak                    47
korean                   43
southern                 35
special diet             29
cafes                    25
pretzels                 25
asianfusion              24
thai                     21
cheesesteaks             19
noodles                  18
kosher                   16
sushi                    15
indpak                   14
cajun                    14
comfortfood              13
foodstands               13
filipino                 11
soulfood                 10
caribbean                10
bubbletea                 9
spanish                   8
french                    8
hawaiian                  7
meats                     7
buffets                   6
german                    6
portuguese                6
gluten_free               4
poke                      4
streetvendors             4
gourmet                   3
southafrican              3
irish                     3
pakistani                 3
creperies                 3
polish                    2
ramen                     2
tea                       2
haitian                   2
arcades                   2
fishnchips                2
dimsum                    2
food_court                2
smokehouse                2
brazilian                 2
armenian                  2
japacurry                 2
drugstores                1
bangladeshi               1
tapas                     1
cheese                    1
pastashops                1
soup                      1
internetcafe              1
musicvideo                1
cambodian                 1
teppanyaki                1
taiwanese                 1
tapasmallplates           1
uzbek                     1
eatertainment             1
burmese                   1
gelato                    1
social_clubs              1
healthmarkets             1
african                   1
carwash                   1
farmersmarket             1
poolhalls                 1
acaibowls                 1
hookah_bars               1
cafeteria                 1
whiskeybars               1
waterpurification         1
russian                   1
poutineries               1
mongolian                 1
coffeeroasteries          1
wraps                     1
seafoodmarkets            1
british                   1
shavedice                 1
bowling                   1
argentine                 1
vitaminssupplements       1
karaoke                   1
cantonese                 1
personalchefs             1
intlgrocery               1
ethiopian                 1
swimmingpools             1
Name: res_type, dtype: int64