In [18]:
import numpy as np 
import chardet
import pandas as pd 
import gmaps
from config import g_key

In [19]:
# For Initial Pull of Raw Data
with open('data/HH/kaggle_income.csv', 'rb') as f:
    enc = chardet.detect(f.read())
US_HH_Income_df = pd.read_csv('data/HH/kaggle_income.csv', encoding = enc['encoding'])

In [ ]:
nRow, nCol = US_HH_Income_df.shape
print(f'There are {nRow} rows and {nCol} columns')

In [ ]:
US_HH_Income_df.dtypes

In [ ]:
US_HH_Income_df.columns.tolist()

In [20]:
# Cleaning the data

# Drop unwanted columns
US_HH_Income_df = US_HH_Income_df.drop(["id",'State_Code','State_Name','County','Place','Type','Primary','Area_Code','ALand','AWater','Mean','sum_w'], axis = 1)

# Drop duplicate Zip Codes
US_HH_Income_df = US_HH_Income_df.drop_duplicates(["Zip_Code"])

# Drop PR and DC from DataFrame
US_HH_Income_df = US_HH_Income_df[US_HH_Income_df['State_ab'] != 'PR']
US_HH_Income_df = US_HH_Income_df[US_HH_Income_df['State_ab'] != 'DC']

# Drop null values
US_HH_Income_df= US_HH_Income_df.dropna()

# Pad zip codes with fewer than 5 numbers with leading zeros
US_HH_Income_df['Zip_Code'] = US_HH_Income_df['Zip_Code'].map("{:05d}".format)

In [21]:
US_HH_Income_df = US_HH_Income_df.set_index('State_ab')

In [ ]:
US_HH_Income_df

In [ ]:
#US_HH_Income_df.to_csv('data/cleaned_HH_Income.csv', sep = ',', header = True)

In [ ]:
#US_HH_Income_df.to_csv('data/cleaned_HH_Income_Zips_List.csv', columns = ["Zip_Code"], header = True)

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Get the latitude and longitude of the eight selected states.
marker_locations = US_HH_Income_df.loc[['CA', 'CO', 'FL', 'IL', 'NY', 'TN', 'TX', 'VA'], ['Lat','Lon']]

In [24]:
marker_locations

                Lat         Lon
State_ab
CA        41.199312 -120.956779
CA        40.161347 -123.615729
CA        32.842286 -116.756044
CA        36.959483 -121.781739
CA        36.991147 -121.892758
...             ...         ...
VA        39.096696  -77.650343
VA        37.145192  -80.256589
VA        38.244527  -77.977450
VA        36.765792  -80.237710
VA        38.601336  -77.306730

[5121 rows x 2 columns]

In [25]:
zips_layer = gmaps.symbol_layer(
    marker_locations, fill_color='purple', stroke_color='purple', scale=2
)
fig = gmaps.figure()
fig.add_layer(zips_layer)
fig

Figure(layout=FigureLayout(height='420px'))